body{
  width: inherit;
  height: inherit;
  z-index: 0;
  margin: 0px;
  /* background-image: url(pvtsabg.jpg); */
}

/* .w3-sidebar{
height:100%;
width:200px;
background-color:#fff;
position:fixed!important;
z-index:1;
overflow:auto
} */
.sidebar{
  background-color: #093870;
  color: white;

  position: absolute;
  width: 269px;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;

}

.sidebar p{
  margin: 0px;
  margin-left: 10px;
}


a {
  color: white;
  text-decoration: none;
}

.home-button{
  /* position: absolute;
  width: 198px;
  height: 29px; */
  left: 102px;
  top: 82px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display:flex;

}

.conferences-button{
  /* position: absolute;
  width: 198px;
  height: 29px; */
  left: 102px;
  top: 134px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.calendar-button{
  /* position: absolute;
  width: 198px;
  height: 29px; */
  left: 102px;
  top: 186px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.social-button{
  /* position: absolute;
  width: 198px;
  height: 29px; */
  left: 102px;
  top: 238px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

}

.service-button{
  /* position: absolute;
  width: 198px;
  height: 52px; */
  left: 102px;
  top: 290px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.officers-button{
  /* position: absolute;
  width: 198px;
  height: 28px; */
  left: 102px;
  top: 365px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.vex-button{
  /* position: absolute;
  width: 198px;
  height: 28px; */
  left: 102px;
  top: 416px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.sidebar-decoration{
  position: absolute;
  width: 17px;
  height: 100%;
  left: 269px;
  top: 0px;

  background: #E7864B;
}

.main{
  width: calc(100%-286px);
  height: 100%;
  top: 0px;
  margin-left: 286px;

  display: flex;
  flex-direction: column;
  align-items: center;

  /* align-items: center; */

}

.title{
  display: block;
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 89px;
  text-align: center;

  color: #ED823E;
  margin-bottom:0px;
}

.subheading{
  display: block;
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  color: #CB6729;
  margin:0px;
}

/* Sidebar */

.side-sidebar{
  display: none;
}

.content{
  display: none;

}

.visibility{
  display: inline;
}

.conf-dropdown{
  position: absolute;
  margin-left: 286px;
  z-index: 1;
  background-color: #FAD8CC;
  color: gray;
  width: 130px;
  height: 100%;
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;

}

.conf-dropdown p{
  margin: 0px;
  margin-top: 10px;
  padding-left: 10px;
  color: #EC8139;
}


.dropdown-decoration{
  position: absolute;
  width: 5px;
  height: 100%;
  left: 130px;
  top: 0px;

  background: #F8B899;
}

.announcement{
  background-color: #F5BB96;
  text-align: left;
  border-style: solid;
  border-width: 10px;
  border-color: #F7D8C8;
  border-radius: 37px;
  width: 75%;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.announcement p{
  color: #CB6729;

}

.sidebar img {
  width: 30px;
  height: 30px;
  align-items: flex-end;
}

.sidebar a{
  display: flex;
  margin-left: 80px;
    margin-top: 40px;

}
