html{
  padding:0px;
  margin: 0px;
  overflow-y: hidden;
}

body{
  width: inherit;
  height: inherit;
  z-index: 0;
  margin: 0px;
  /* background-image: url(pvtsabg.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}

/* .w3-sidebar{
height:100%;
width:200px;
background-color:#fff;
position:fixed!important;
z-index:1;
overflow:auto
} */
.sidebar{
  background-color: #093870;
  color: white;
  position: sticky;
  width: 269px;
  height: 100vh;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;

}

.sidebar p{
  margin: 0px;
  margin-left: 10px;
}


a {
  color: white;
  text-decoration: none;
}

.home-button{
  /* position: absolute;
  width: 198px;
  height: 29px; */
  left: 102px;
  top: 82px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display:flex;
  margin-top: 60px;

}

.home-button:hover .hover-show{
  visibility: visible;
}

.home-button:hover .hover-hide{
  visibility: hidden;
}


.conferences-button{
  /* position: absolute;
  width: 198px;
  height: 29px; */
  left: 102px;
  top: 134px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.conferences-button:hover .hover-show{
  visibility: visible;
}

.conferences-button:hover .hover-hide{
  visibility: hidden;
}

.calendar-button{
  /* position: absolute;
  width: 198px;
  height: 29px; */
  left: 102px;
  top: 186px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.calendar-button:hover .hover-show{
  visibility: visible;
}

.calendar-button:hover .hover-hide{
  visibility: hidden;
}

.social-button{
  /* position: absolute;
  width: 198px;
  height: 29px; */
  left: 102px;
  top: 238px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

}

.social-button:hover .hover-show{
  visibility: visible;
}

.social-button:hover .hover-hide{
  visibility: hidden;
}

.service-button{
  /* position: absolute;
  width: 198px;
  height: 52px; */
  left: 102px;
  top: 290px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.service-button:hover .hover-show{
  visibility: visible;
}

.service-button:hover .hover-hide{
  visibility: hidden;
}

.officers-button{
  /* position: absolute;
  width: 198px;
  height: 28px; */
  left: 102px;
  top: 365px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.officers-button:hover .hover-show{
  visibility: visible;
}

.officers-button:hover .hover-hide{
  visibility: hidden;
}

.vex-button{
  /* position: absolute;
  width: 198px;
  height: 28px; */
  left: 102px;
  top: 416px;

  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.vex-button:hover .hover-show{
  visibility: visible;
}

.vex-button:hover .hover-hide{
  visibility: hidden;
}

.hover-show{
  position: fixed;
  z-index: 1;
  visibility: hidden;
}

.hover-hide{
  visibility: visible;
}

.sidebar-decoration{
  position: absolute;
  width: 17px;
  height: 100%;
  left: 269px;
  top: 0px;

  background: #E7864B;
}

.main{
  width: calc(100%-286px);
  height: 100vh;
  /* top: 0px; */
  margin-left: 286px;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;


  /* align-items: center; */

}

.title{
  display: block;
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-size: 81px;
  line-height: 89px;
  text-align: center;
  margin-top: 50px;
  color: #ED823E;
  margin-bottom:0px;
}

.heading{
  display: block;
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 300;
  font-size: 65px;
  line-height: 60px;
  text-align: center;
  margin-top: 50px;
  color: #ED823E;
  margin-bottom:10px;
}

.subheading{
  display: block;
  font-family: 'Rubik Mono One';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;

  color: #CB6729;
  margin:0px;
}

.main-core{
  width: calc(100%-286px);
  height: 100vh;
  margin-left: 286px;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}

.text{
  display: flex;
  text-align: left;
  margin-top: 30px;
  margin-left: 35px;
  margin-right: 50px;
  color: #CB6729;
  flex-direction: column;
  margin-bottom: 30px;
}

.text h2{
  font-family: 'Rubik';
  font-weight: 100px;
  font-size: 25px;
  margin: 0px;
}
.text p{
  margin: 0px;
  margin-bottom: 15px;
  font-family: 'Rubik';
}

.text a{
  color: #ED823E;
  text-decoration: underline;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper object,
.video-wrapper embed,
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.next-to{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.next-to h2{
  font-size: 30px;
  /* text-align: center; */
}

.next-to p{
  font-size: 15px;
  /* text-align: center; */
}

.next-to img{
  object-fit: cover;
  margin: 20px;
  width: 499px;
  height: 310px;
  border-color: #093870;
  border-radius: 20px;
  border-width: 5px;
  border-style: solid;
}

.vertical-pic{
  margin: 20px;
  /* width: 1000px;
  height: 1000px; */
  border-color: #093870;
  border-radius: 20px;
  border-width: 5px;
  border-style: solid;
}

.gallery{
  display: flex;
  justify-content: space-around;
  width: 1606px;
  flex-wrap: wrap;

}

.gallery h2{
  font-size: 27px;
  font-family: 'Rubik';
  text-align: center;
  margin:0px;
  margin-bottom: 10px;
  font-weight: bold;
}

.gallery h3{
  font-size: 17px;
  font-family: 'Rubik';
  text-align: center;
  margin: 0px;
  font-weight: normal;
}

.officer-pic{
  object-fit: cover;
  width: 200px;
  height: 300px;
}

/* .core-pics{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.core-pics img{

} */


.bracket-text{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3px;
  border-left-style: solid;
  border-width: 3px;
}



/* Sidebar */

.side-sidebar{
  display: none;
}

.content{
  display: none;

}

.visibility{
  display: inline;
}

.conf-dropdown{
  position: sticky;
  top: 0px;
  bottom: 0px;
  /* left:0px; */
  margin-left: 286px;
  z-index: 1;
  background-color: #FAD8CC;
  color: gray;
  width: 130px;
  height: 100vh;
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;

  /*   background-color: #093870;
    color: white;
    position: sticky;
    width: 269px;
    height: 100vh;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column; */

}

.conf-dropdown p{
  margin: 0px;
  margin-top: 10px;
  padding-left: 10px;
  color: #EC8139;
}


.dropdown-decoration{
  position: absolute;
  width: 5px;
  height: 100%;
  left: 130px;
  top: 0px;

  background: #F8B899;
}

.announcement{
  margin-top: 40px;
  background-color: #F5BB96;
  text-align: left;
  border-style: solid;
  border-width: 10px;
  border-color: #F7D8C8;
  border-radius: 37px;
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  color: #401d08;
}

.announcement h1{
  color: #CB6729;
}

.announcement b{
    color: #CB6729;
}

.announcement p{
  margin: 0px;
}

.sidebar img {
  width: 30px;
  height: 30px;
  align-items: flex-end;
}

.sidebar a{
  display: flex;
  margin-left: 80px;
    margin-top: 40px;

}
li{
  margin-top: 10px;
}
